<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="/login">{{title}}</a>
                </h3>
                <p class="card-body">{{text}}</p>
                <p class="card-text">
                    <span class="highlight">{{user.name}}</span> created on {{format_date created_at}} !
                </p>

            </div>
        </div>
    </div>
</div>