<h2> Here is your posts:</h2>
<div id="postadd">
    <input type="text" placeholder="Input your post title here" id="title" required>
    <input type="text" placeholder="Input text here" id="text" required>
    <button type="button" class="btn btn-info" id="create-new">Create new Post</button>
</div>
<div>
    {{#if posts.length}}
    {{!-- generated post under this user --}}
    {{#each posts as |post| }}
    {{>dashpost post}}
    {{/each}}

    {{/if}}
</div>

<script src="./js/postadd.js"></script>