<h2>Edit post:</h2>
<div>
    <div>
        <p>Title:<input type="text" id="title" placeholder="{{post.title}}" required></p>
    </div>
    <div>
        <p>text:<input type="text" id="text" placeholder="{{post.text}}" required></p>
    </div>
    <div>
        <button type="button" id="update-button">Update Post</button>
        <button type="button" id="delete-button">Delete Post</button>
    </div>
</div>

<script src="/js/postdelete.js"></script>
<script src="/js/postedit.js"></script>